

.card__image {
height: 413px;
width: 100%;
object-fit: cover;
display: block;
border-radius: 8px;
margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .card__title {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    max-width: 353px;
  }

.card__like-button {
  background-image: url(../images/Like\ Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button:hover {
opacity: 100%;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
  }

  .card__like-button {
    position: relative;
    margin-left: auto;
  }

  .card {
    width: 288px;
    height: auto;
    margin-bottom: 20px;
  }


}