

.card__image {
height: 413px;
width: 100%;
object-fit: cover;
display: block;
border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

.card__like-botton {
  background-image: url(../images/Like\ Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;

}

.card__like-botton:hover {
opacity: 100%;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 288px;
    font-size: 16px;
  }

  .card__like-botton {
    position: relative;
    margin-left: auto;
  }

  .card {
    width: 288px;
    height: 288px;
    margin-bottom: 20px;
  }
}