.modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  max-height: 408px;
  width: 100%;
  margin: 0 20px;
  border-radius: 8px;
  background-color: #fff;
  padding: 50px 32px;
  position: relative;
  gap: 32px;
}

.modal__close-btn {
  cursor: pointer;
  transition: opacity 0.3s;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
}

.modal__close-btn:hover {
  opacity: 0.8;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
margin: 0 0 32px;
font-size: 16px;
color: #21212170;
}

.modal__input {
  display: block;
  margin: 8px 0;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid rgba(33,33,33,0.4);
  font-size: 20px;
  line-height: 1;
  padding: 16px 12px;
}

.modal__input::placeholder {
  color: #2121214d;

}


.modal__submit-btn {
  max-width: 156px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5f5;
  margin-top: auto;
  width: 157px;
  height: 52px;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.2s ease;
}

.modal__submit-btn:hover {
  background-color: rgba(33,33,33,0.08);
  opacity: 0.95;
}

@media screen and (max-width: 630px) {


.modal__submit-btn {
  margin: 0;
  margin-bottom: 12px;
  width: 100%;
  max-width: none;
}

.modal__title{
  font-size: 20px;
}

}