.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  max-height: 408px;
  width: 100%;
  margin: 0 20px;
  border-radius: 8px;
  background-color: #fff;
  padding: 50px 32px;
  position: relative;
  gap: 32px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
}


.modal__title {
  margin: 0 0 32px;
  size: 32px;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
margin: 0 0 32px;
size: 16px;
color: #21212170;
}

.modal__input {
  display: block;
  margin: 8px 0;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  border-color: #21212140;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.modal__input::placeholder {
  color: #2121214d;

}


.modal__submit-btn {
  max-width: 156px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5f5;
  margin-top: auto;
  width: 157px;
  height: 52px;
}

@media screen and (max-width: 630px) {

.modal__container {
height: 336px;
}


.modal__submit-btn {
  margin: 0;
  margin-bottom: 12px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5f5;
  margin-top: auto;
  max-width: none;
  height: 52px;
}

.modal__title{
  size: 20px;
}

}