.modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  max-height: 408px;
  width: 100%;
  margin: 0 20px;
  border-radius: 8px;
  background-color: #fff;
  padding: 50px 32px;
  position: relative;
  gap: 32px;
}

.modal__close-btn {
  cursor: pointer;
  transition: opacity 0.3s;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
}

.modal__close-btn_type_preview {
  background-color: transparent;
  top: 0;
  right: -52.5px;
}

.modal__close-btn:hover {
  opacity: 0.8;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
margin: 0 0 32px;
font-size: 16px;
color: #212121;
opacity: 0.7;
margin-bottom: 32px;
display: block;
}

.modal__input::placeholder {
  color: #2121214d;
}


.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  background-color: #212121;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 4px;
}

.modal__input {
  padding: 16px 12px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.4);
  opacity: 0.7;
  margin: 8px 0 0;
  width: 100%;
  position: relative;
  height: 52px;
  border-radius: 4px;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 0.8);
  opacity: 100%;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  margin-top: 8px;
  display: none;
  color: red;
}

.modal__error_visible {
  display: block;
}

.modal__button {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5f5;
  margin-top: auto;
  padding: 18px 32px;
  width: 157px;
  height: 52px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  border: none;
}

.modal__button:hover {
 background-color: rgba(33, 33, 33, 0.7);
  opacity: 0.7;
}

.modal__button_disabled {
  background: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

@media screen and (max-width: 627px) {


.modal__button {
  margin: 0;
  margin-bottom: 12px;
  width: 100%;
  max-width: none;
}

.modal__title{
  font-size: 20px;
}

.modal__close-btn {
  top: 22px;
  right: 12px;
}

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

.modal__image {
  max-width: unset;
}

.modal__container {
  margin: 0;
}
}