.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33,33,33,0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
}

.profile__column{
  display: flex;
  flex-direction: column;
}

.profile__name {
margin: 0 0 12px;
font-weight: 500;
font-size: 32px;
line-height: 1;
display: -webkit-box;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
max-width: 420px;
}

.profile__description {
margin: 0;
display: -webkit-box;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
max-width: 420px;
color: #212121;
opacity: 70%;
}

.profile__edit-btn {
margin-top: auto;
border-style: none;
text-align: left;
background-color:#fcf5e5;
color: #212121;
opacity: 70%;
}

.profile__edit-btn:hover{
color: #212121;
opacity: 100%;
}


.profile__add-btn {
  margin-left: auto;
  border-radius: 8px;
  background-color: #212121;
  color: white;
  margin-top: auto;
  padding: 18px 32px;
}

.profile__add-btn:hover {
  color: #212121;
  opacity: 80%;
  color: white;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    max-width: 288px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    align-self: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}